<div class="post">
    <header class="breadcrumb">
        <a href="/" style="text-decoration: underline; font-style: italic;">Home</a>
        <span> / </span>
        <a style="text-decoration: underline; font-style: italic;" href="<%- url_for(page.path) %>"><%- page.title %></a>
    </header>
    <%- toc(page.content, {
        list_number: false
    }) %>
    <div class="post-body">
        <h1 class="post-title"><%- page.title %></h1>
        <div class="post-meta">
            <%- new Date(page.date).getFullYear() + '-' + new Date(page.date).getMonth()+ '-' + new Date(page.date).getDate() %>
            <span> · </span>
            <% page.tags.each(function (tag) { %>
                <a href="<%- url_for('/tags/' + tag.name) %>"><%- '#' + tag.name %></a>
            <% }) %>
        </div>
        <div class="post-content"><%- page.content %></div>
        <%- partial('partials/divider') %>
        <%- partial('partials/license') %>
    </div>
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
          clientID: '<%- theme.gitalk.client_id %>',
          clientSecret: '<%- theme.gitalk.client_secret %>',
          repo: '<%- theme.gitalk.repo %>',
          owner: '<%- theme.gitalk.owner %>',
          admin: ['<%- theme.gitalk.owner %>'],
          id: location.pathname,
          distractionFreeMode: false
        })
    
        gitalk.render('gitalk-container')
    </script>
</div>